
Your "{{ ec2_os_type }}" instance has been created: "{{ ec2_dns_name }}"

To login:

Open an SSH client

Locate your private key file "{{ key_name }}"

Note: your key must not be publicly viewable for SSH to work.
Use this command if needed: chmod 400 "{{ key_name }}"

Connect to your instance using its Public DNS:

ssh -i ""{{ key_name }}"" "{{ ec2_dns_name }}"
